extends layout

block content
  .content-wrapper
    .container
      section.content
        .box.box-primary
          .box-header.with-border
            h3.box-title Youbike各站點存留變化率
          .box-body
            #map(style="width:100%;height:500px;")
            #scale
              img(src='/images/5.png', style='margin-left:20px;margin-right:5px;')
              b > 15%
              img(src='/images/4.png', style='margin-left:20px;margin-right:5px;')
              b > 5%
              img(src='/images/3.png', style='margin-left:20px;margin-right:5px;')
              b < ±5%
              img(src='/images/2.png', style='margin-left:20px;margin-right:5px;')
              b < -5%
              img(src='/images/1.png', style='margin-left:20px;margin-right:5px;')
              b < -15%
            #outer(style='margin-top:40px; padding:10px')
              #main.row
  script(src="/socket.io/socket.io.js")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js')
  script(type='text/javascript', src='/javascripts/radial.js')
  script(type='text/javascript').
    var map;
    var markers = [];
    var diffs = [];
    var ratio_threshold_high = 15;
    var ratio_threshold_low = 5;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 25.06, lng: 121.55},
        zoom: 12
      });
      //- var infoWindow = new google.maps.InfoWindow({map: map});

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          
          //- infoWindow.setPosition(pos);
          //- infoWindow.setContent('Location found.');
          
          //- map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }
    function marker(data, map, icon_url) {
      var marker = new google.maps.Marker({
        position: data.pos,
        map: map,
        icon: icon_url,
        title: data.sna
      });
      var infowindow = new google.maps.InfoWindow({
        content: '<b>' + data.sna + '</b>'
      });
      if (data.info) {
        infowindow.content = infowindow.content + '<br/>' + data.info;
        infowindow.open(map, marker);
      } else {
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
      markers.push(marker);
    }
    function remove_markers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }
    function remove_chart() {
      document.getElementById('main').innerHTML = '';
    }
    function focus(label) {
      markers.forEach(function (m) {
        if (m.sna == label) {
          map.setCenter(m.pos);
        }
      })
    }
    function labelFunction(val,min,max) {
    }
    function start(label, title, percentage) {
      var div = document.createElement("div");
      div.className = 'col-xs-12 col-sm-4 col-md-4';
      div.style = 'box-sizing:border-box;float:left;padding-left:3%;'
      var rp1 = radialProgress(div)
      .label(label)
      .title(title)
      //- .onClick(console.log('test'))
      .diameter(170)
      .value(Math.abs(percentage))
      .render();

      document.getElementById("main").appendChild(div);
    }
    function put_marker(d) {
      var icon_url = '';
      if (d.diff_ratio > ratio_threshold_high ) {
        icon_url = '/images/5.png';
      } else if ((ratio_threshold_high >= d.diff_ratio) && (d.diff_ratio > ratio_threshold_low)) {
        icon_url = '/images/4.png';
      } else if (Math.abs(d.diff_ratio) <= ratio_threshold_low) {
        icon_url = '/images/3.png';
      } else if ((-ratio_threshold_low > d.diff_ratio) && (d.diff_ratio >= -ratio_threshold_high)) {
        icon_url = '/images/2.png';
      } else {
        icon_url = '/images/1.png';
      }
      marker(d, map, icon_url);
    }
    var socket = io();
    //- $('form').submit(function(){
    //-   socket.emit('chat message', $('#m').val());
    //-   $('#m').val('');
    //-   return false;
    //- });
    socket.on('update data', function(data){
      remove_markers();
      remove_chart();

      marker_data = data['marker'];
      chart_data = data['chart'];

      marker_data.forEach(function (d) {
        put_marker(d);
      })
      for (var k in chart_data) {
        for (var p in chart_data[k]) {
          start(p, k, chart_data[k][p]);
        }
      }
    });

    initMap();
