extends layout

block content
  .content-wrapper
    .container
      // Content Header (Page header)
      section.content-header
        //- h1 Youbike租借活躍指數
        //- ol.breadcrumb
        //-   li
        //-     a(href='#')
        //-       i.fa.fa-dashboard
        //-       |  Home
        //-   li
        //-     a(href='#') Layout
        //-   li.active Top Navigation
      section.content
        .box.box-primary
          .box-header.with-border
            h3.box-title Youbike租借活躍指數
          .box-body
            #map(style="width:100%;height:500px;")
            #db
  script(src="/socket.io/socket.io.js")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(src="https://maps.googleapis.com/maps/api/js")
  script(type='text/javascript').
    var map;
    var markers = [];
    var diffs = [];
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 25.06, lng: 121.55},
        zoom: 13
      });
      //- var infoWindow = new google.maps.InfoWindow({map: map});

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          
          //- infoWindow.setPosition(pos);
          //- infoWindow.setContent('Location found.');
          
          //- map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }
    function marker(pos, map, icon_url) {
      var marker = new google.maps.Marker({
        position: pos,
        map: map,
        icon: icon_url,
        title: 'Hello World!'
      });
      markers.push(marker);
    }
    function remove_markers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }
    var socket = io();
    //- $('form').submit(function(){
    //-   socket.emit('chat message', $('#m').val());
    //-   $('#m').val('');
    //-   return false;
    //- });
    socket.on('update data', function(data){
      remove_markers();
      console.log('update');
      diffs = [];
      data.forEach(function (d) {
        diffs.push(d.diff);
        var icon_url = '';
        if (d.diff > 4) {
          icon_url = '/images/5.png';
        } else if ((4 >= d.diff) && (d.diff > 2)) {
          icon_url = '/images/4.png';
        } else if (Math.abs(d.diff) <= 2) {
          icon_url = '/images/3.png';
        } else if ((-2 > d.diff) && (d.diff >= -4)) {
          icon_url = '/images/2.png';
        } else {
          icon_url = '/images/1.png';
        }
        marker(d.pos, map, icon_url);
      })
    });

    initMap();
